<!DOCTYPE html>
<html>
<head>
    <title>CRM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    {%  include 'store_owner/navbar.html' %}
    <hr>

    {% block content %}

    <a class="btn btn-primary  btn-sm btn-block" href="{% url 'dashboard' %}">כניסת בעל עסק</a>
    <a class="btn btn-primary  btn-sm btn-block" href="{% url 'update_product' %}">כניסה לקניות</a>
    {% endblock %}

    <hr>
</body>


</html>
