
.span-elem{
    position: absolute;
    width: 85px;
    height: 32px;
    background: #C8E7A9;
    border: 1px solid #B0AAAA;
    box-sizing: border-box;
}

.input-inner-form{
    position: absolute;
    width: 159px;
    height: 32px;
    background: #E7F2DE;
    border: 1px solid #B0AAAA;
    box-sizing: border-box;
}
