{%  extends 'store_owner/main.html' %}

{% block content %}

<br>
<div dir="rtl">
    <a class="new-product-btn dash-btn" href="{% url 'new_product' %}"><span class="inner">מוצר חדש</span></a>
{#<a class="btn btn-primary  btn-sm btn-block" href="{% url 'update_product' %}">עדכון מוצר</a>#}
<a class="my-product-btn dash-btn" href="{% url 'my_product' %}"><span class="inner">המוצרים שלי</span></a>
<a class="customers-btn dash-btn" href="{% url 'status' %}"><span class="inner">לקוחות והזמנות</span></a>

</div>

{#<div class="row">#}
{#	<div class="col-md-5">#}
{#		<h5>CUSTOMERS:</h5>#}
{#		<hr>#}
{#		<div class="card card-body">#}
{#			<a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>#}
{#			<table class="table table-sm">#}
{#				<tr>#}
{#                <th> </th>#}
{#					<th>Customer</th>#}
{#					<th>Orders</th>#}
{#				</tr>#}
{#                {% for customer in customers  %}#}
{#                    <tr>#}
{#                    <td><a href="{% url 'customers' customer.id%}">View</a></td>#}
{#                    <td> {{ customer.name }}</td>#}
{#                    </tr>#}
{##}
{#                {% endfor %}#}
{##}
{#			</table>#}
{#		</div>#}
{#	</div>#}
{##}
{#	<div class="col-md-7">#}
{#		<h5>LAST 5 ORDERS</h5>#}
{#		<hr>#}
{#		<div class="card card-body">#}
{#			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_order' %}">Create Order</a>#}
{#			<table class="table table-sm">#}
{#				<tr>#}
{#					<th>Product</th>#}
{#					<th>Date Orderd</th>#}
{#					<th>Status</th>#}
{#					<th>Update</th>#}
{#					<th>Remove</th>#}
{#				</tr>#}
{#                {% for order in orders %}#}
{#                    <tr>#}
{#                    <td>{{ order.product }}</td>#}
{#                    <td>{{ order.date_created }}</td>#}
{#                    <td>{{ order.status }}</td>#}
{#                    <td><a class = "btn btn-sm btn-info"  href="{% url 'update_order' order.id %}">Update</a></td>#}
{#                    <td><a class = "btn btn-sm btn-danger" href="{% url 'delete_order' order.id %} ">Delete</a></td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{##}
{#			</table>#}
{#		</div>#}
{#	</div>#}
{##}
{#</div>#}
{% endblock %}

